.message {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(43, 43, 43);
}

.btn-dashboard {
  width: 100%;
}

.bookings h3 {
  font-size: 1.3rem;
}

.status {
  display: inline-block;
  width: auto;
  margin-top: 0.5rem;
  padding: 0.6rem;
  border-radius: 0.8rem;
}

.pending-status {
  background-color: #447495;
}

.accepted-status {
  background-color: rgb(84, 166, 88);
}

.declined-status {
  background-color: rgb(168, 94, 82);
}

.clickable {
  cursor: pointer;
  border-radius: 0.5rem;
}

.clickable:hover {
  background-color: #83afce;
}

.modal-wrapper {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color:rgb(225, 225, 225);
  opacity: 80%;
}

.dashboard-bird-image {
  width: 100%;
}

.modal-image {
  background-size: cover;
  background-position: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.modal-info {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 2rem;
  background-color: rgb(40, 40, 40);
  color: white;
  opacity: 100;
}

.modal-show {
  position: absolute;
  height: 80%;
  width: 80%;
  z-index: 3;
  top: 10%;
  right: 10%;
}

.modalframe{
  transition: 200ms;
}

.bird-card-title {
  color: black;
  text-decoration: none;
}

.bird-card-title:hover {
  color: grey;
}
