// Import page-specific CSS files here.
@import "home";

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.card a {
  padding-top: 0.5rem;
  display: block;
  padding-bottom: 0.5rem;
  width: 100%;
  color: black;
  text-decoration: none;
  transition-duration: 200ms;
}

.card a:hover{
  background-color: rgb(166, 160, 205);
}
