<h1>Bird index</h1>

<ul>
  <% @birds.each do |bird| %>
  <li>
    <%= link_to bird.name, bird_path(bird.id) %>
    <%= link_to "Delete", bird_path(bird.id),
    data: { turbo_method: :delete, turbo_confirm: "Are you bird???" },
    class: "btn btn-danger btn-sm rounded" %>
  </li>
  <%end%>
</ul>

<%= link_to "+ add a new bird",  new_bird_path%>
