/* for all buttons */


/* Delete Button (Red) */
.btn-cancel {
  background-color: rgb(204, 57, 57);
  color: black;
}

.btn-cancel:hover {
  background-color: rgb(204, 57, 57);
  color: white;
}

/* Update Button (Blue) */
.btn-update {
  background-color:#396788;
  color: black;
}

.btn-update:hover {
  color: white;
}

/* Success Button (Green) */
.btn-success {
  background-color: rgb(60, 172, 84);
  color: black;
}

.btn-success:hover {
  background-color: rgb(60, 172, 84);
  color: white;
}

/* Update Button (Blue) - Additional Button */
.btn-update-bird {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-update-bird:hover {
  background-color: #0056b3;
}

.btn-update-bird:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.75);
}

/* Secondary Button (Gray) */
.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/* Centering buttons and creating space */
.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
