
.btn-cancel,
.btn-primary,
.btn-update {
  width: 88.25px;
  height: 40px;
  padding: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}


.btn-cancel {
  background-color: rgb(204, 57, 57);
  color: white;
}

.btn-cancel:hover {
  background-color: rgb(255, 99, 99);
}


.btn-update {
  background-color: rgb(58, 120, 214);
  color: white;
}

.btn-update:hover {
  background-color: rgb(78, 142, 237);
}


.btn-success {
  background-color: rgb(60, 172, 112);
  color: white;
}

.btn-success:hover {
  background-color: rgb(109, 180, 142);
}
